{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>Courses </title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
     <link rel="stylesheet" href="{% static 'stylesheet/kutiva/library/malangatana.min.css' %}">

    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/menu.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/course/course.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">


{% endblock %}



{% block content %}
    {#    include the main menu #}
     {% include "kutiva/layout/menu.html" %}
      <section class="flexbox search">
         <input type="search">
      </section>
     <main>


        <aside class="articlesTags">
                <p>category</p>
                 <ul class="cardColumn unstyledList">
                    {% for category in categories %}
                       <li class="category">{{ category.name }}</li>
                    {% endfor %}


                 </ul>

         </aside>

        <article class="articles">
                 <div class="cardColumn article">
                    {% for course in courses %}
                      <h1 class="category"> {{ course.title|capfirst }}</h1>
                    {% endfor %}
                 </div>

         </article>





    {#    screencasts #}


    </main>


    {% include "kutiva/layout/footer.html" %}
{% endblock %}

