{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>Courses </title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/library/malangatana.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/menu.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">


{% endblock %}



{% block content %}
    {#    include the main menu #}
     {% include "kutiva/layout/menu.html" %}
      <section class="flexbox search">
         <input type="search">
      </section>
     <main>




        <article class="articles">
                   <section class="cardRow">
         <div class="screencast">
            <img src="{% static 'images/cover.jpeg' %}" alt="screencast cover" class="cover">
            <p class="categoryCourse">Courso</p>

            <h1 class="title">Hello Django</h1>
             <ul class="screencastAuthor">
                <li class="author">By Jose Machava - </li>
                <li class="date">  30 March 2018</li>
            </ul>
            {% for lesson in lessons %}



                <h2 class="title"><a href="{% url 'watch' lesson.id %}">{{ lesson.title|capfirst }}</a></h2>
            {% endfor %}
         </div>


          <div class="screencast">
            <img src="{% static 'images/cover.jpeg' %}" alt="screencast cover" class="cover">
            <p class="categoryCourse">Courso</p>

            <h1 class="title">Hello Django</h1>
             <ul class="screencastAuthor">
                <li class="author">By Jose Machava - </li>
                <li class="date">  30 March 2018</li>
            </ul>
            {% for lesson in lessons %}



                <h2 class="title"><a href="{% url 'watch' lesson.id %}">{{ lesson.title|capfirst }}</a></h2>
            {% endfor %}
         </div>

          <div class="screencast">
            <img src="{% static 'images/cover.jpeg' %}" alt="screencast cover" class="cover">
            <p class="categoryCourse">Courso</p>

            <h1 class="title">Hello Django</h1>
             <ul class="screencastAuthor">
                <li class="author">By Jose Machava - </li>
                <li class="date">  30 March 2018</li>
            </ul>
            {% for lesson in lessons %}



                <h2 class="title"><a href="{% url 'watch' lesson.id %}">{{ lesson.title|capfirst }}</a></h2>
            {% endfor %}
         </div>
      <div class="screencast">
            <img src="{% static 'images/cover.jpeg' %}" alt="screencast cover" class="cover">
            <p class="categoryCourse">Courso</p>

            <h1 class="title">Hello Django</h1>
             <ul class="screencastAuthor">
                <li class="author">By Jose Machava - </li>
                <li class="date">  30 March 2018</li>
            </ul>
            {% for lesson in lessons %}



                <h2 class="title"><a href="{% url 'watch' lesson.id %}">{{ lesson.title|capfirst }}</a></h2>
            {% endfor %}
         </div>


    </section>



         </article>





    {#    screencasts #}


    </main>


    {% include "kutiva/layout/footer.html" %}
{% endblock %}

