body{
  background-color: #f3f6f8;



}
.sign{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.formSigiIn{
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    align-self: center;
}
.formSigiUp{
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    align-self: center;
}
input{
    height: 44px;
    width: 480px;;
    margin: 10px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dbe2e8;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    border-radius: 2px;
    color: #2e3d49;
}
.password{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;

}
.password input{
    width: 220px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;

}


.user input{
    width: 220px;
}

input[type="submit"]{
    border: none;
    height: 44px;
    background-color: #0275d8;
    color: white;
    width: 200px;
}

@media all and (max-width: 575px) {
    input{
        width: 295px;
    }
    .user input{
        width: 295px;
    }
    .password input{
        width: 295px;
    }
    form{
        padding: 0;
    }
    .logo{
         margin-top: 50px;
    }

}


@media all and (max-width: 768px) {


}

@media all and (max-width: 991px) {

}

@media all and (max-width: 1199px) {


}