{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/menu.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

{% endblock %}



{% block content %}

    <main>
    {#    include the main menu #}
    {% include "kutiva/layout/menu.html" %}
    <section class="showcase">

           <h1>Educacao para todos</h1>

    </section>

     <section class="categorys">
             <ul class="cardRow unstyledList">
                 <li class="category">Web Development</li>
                 <li class="category">frontend</li>
                <li class="category">backend</li>
                <li class="category">android</li>

                {% for lesson in lessons %}
                  <li class="category"> Hwll{{ lesson.subject|capfirst }}</li>
                {% endfor %}

             </ul>

     </section>






{#    screencasts #}
    <section class="cardRow">
         <div class="screencast">
            <img src="{% static 'images/cover.jpeg' %}" alt="screencast cover" class="cover">
            <p class="categoryCourse">Courso</p>

            <h1 class="title">Hello Django</h1>
             <ul class="unstyledList">
                <li class="author">By Jose Machava - </li>
                <li class="date">  30 March 2018</li>
            </ul>
            {% for lesson in lessons %}



                <h2 class="title"><a href="{% url 'watch' lesson.id %}">{{ lesson.title|capfirst }}</a></h2>
            {% endfor %}
         </div>


    </section>


    </main>

    {# include the same footer for ever page #}
    {% include "kutiva/layout/footer.html" %}
{% endblock %}

