{% extends "kutiva/layout/base.html" %}

{% load i18n %}

{% block metas %}


{% endblock %}

{% block body_id %}home{% endblock %}
{% block body_content %}
        <div id="main-body">
            <section id="hero">
                <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <h2>Search for a course and start learning.</h2>
                                <p>Find the perfect course to improve your skills and start racing ahead others.</p>

                                <form action="">
                                    <div class="form-group">
                                        <input type="Search" autocomplete="off" name="search" class="form-control" id="id_search"  placeholder="Pesquisa">
                                        <input type="submit" name="submit" id="id_submit" value="Buscar">
                                        <select id="categories">
                                            <option><i class="fa fa-file"></i> Categories</option>
                                            <option> Categories 1</option>
                                            <option> Categories 2</option>
                                        </select>

                                         <select id="authors">
                                            <option><i class="fa fa-user"></i> Author</option>
                                            <option> Author 1</option>
                                            <option> Author 2</option>
                                        </select>

                                         <select id="skills">
                                            <option><i class="fa fa-bars"></i> Skill LEvel</option>
                                            <option> Level 1</option>
                                            <option> Level 2</option>
                                        </select>
                                        <div class="search-loop"><i class="fa fa-search"></i></div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <section id="featured-categories">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        <div class="box-title">
                            <h3>Featured Categories</h3>
                            <p>Browse our top courses on the fly and start learning with the best. We own courses coming from the best of each industry.</p>
                        </div>
                        <div class="row">
                                                         <div class="col-md-3">
                            <div class="box" style="background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2012/12/11/24363/443b883e839ba3fbee3be6a75ee70bd0-500.jpg);">
                                <div class="overlay">
                                <h3>Programming</h3>
                            </div>
                            </div>
                            </div>

                            <div class="col-md-3">
                            <div class="box" style="background-image: url(http://www.cf7studio.com/images/headers/design.jpg);">
                                <div class="overlay">
                                <h3>Design</h3>
                            </div>
                            </div>
                            </div>

                             <div class="col-md-3">
                            <div class="box" style="background-image: url(https://www.amrita.edu/sites/default/files/school-of-business-research.jpg);">
                                <div class="overlay">
                                <h3>Business</h3>
                            </div>
                            </div>
                            </div>

                             <div class="col-md-3">
                            <div class="box" style="background-image: url(http://21230-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/05/List-of-the-Top-Audio-Visual-Equipment-Rental-Companies-in-Sharjah-with-Contact-Details.jpg);">
                                <div class="overlay">
                                <h3>Video & Audio</h3>

                            </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </section>

            <section id="featured-categories">
                <div class="container">
                    <div class="row">
                        <div class="box-title">
                            <h3>Popular courses</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

{% endblock %}


{% block scripts %}
{% endblock scripts %}
