html{
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;


}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F3F6F9;
}

.main{
  font-family: 'Roboto', sans-serif;
  flex: 1;


}
.category{
    width: auto;
    margin: 20px;
    padding: 10px;
    border-radius:60px;
    height: auto;
    color: black;
}


.articlesTags{
    background-color: white;
    flex-grow: 1;
}
.articles{
    flex-grow: 6;
    margin: 20px;
}

.article{
    width:auto;
    height: 200px;
    background-color: white;
}
.recommendScreencasts{
    flex-grow: 1;
}
.recommendScreencast{
    background-color: white;
    width: 200px;
    height: 200px;
}