body{
    min-width: 100%;
   font-family: 'Open Sans', sans-serif;

}
.showcase{
    background-color:white;
    height:60vh;
    /*background-image: url("../../images/12.jpg");*/
}
.showcase h1{
    text-align: center;
    color: #253858;
    padding-top: 100px;
}

