nav{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    background-color: white;
}
nav ul {

}

nav ul li{
    list-style: none;
}


.sidebar{
    height: 100vh;
    color: white;
    background-color:#15173b;
}

.sidebar img{
    width: 128px;
    height: 66px;
    padding: 10px 0px 0px 20px;
}
.sidebar{
    flex-grow: 1;

}
.sidebar  ul{
    margin: 20px;
    padding: 20px;

}


.sidebar ul li{
    list-style: none;
    text-transform: capitalize;
    padding: 5px;

}
ul li a{
    color: white;
}
ul li a:hover{
    text-decoration: none;
    list-style: none;
    color: white;

}
a {
    text-decoration: none;
    list-style: none;
}


.content{
   display: flex;


}

.dashboard{
    flex-grow: 10;
    background: #f3f6f8;

}
.dashboardContent{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;


}
.statistics{
    height:200px;
    width: 400px;
    background-color: white;
    margin: 10px;
}

.loanRequest{
    flex-grow: 10;
    background: #f3f6f8;
}