	@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

	body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	}

	a:hover{
		text-decoration: none;
	}


	header{
	background-color: #4eccb9;
	border-bottom: 1px solid #4eccb9;
	box-shadow: 2px 1px 1px #4eccb9;
	color: white;
	}

	header #logo h2{
		color: white;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 60px;
	}

	header ul li{
		padding: 15px;

	}

		header ul li a{
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
	}
header #account-bar {
	float: right;
}
header #account-bar li a{
	padding: 0 !important;
	padding-right: 15px;
} 
header #account-bar li i{
	padding-right: 7px;
} 


	section#hero {
    width: 100%;
    color: #fff;
}

section#hero h2{
	text-transform: uppercase;
	font-weight: bold;
}

section#hero p{
	color: #fafafa;
	margin-bottom: 30px;

}


section#hero input#id_search {
    border-radius: .25rem;
    height: 90px;
    padding-left: 75px;
    padding-right: 60%;
}

section#hero input#id_submit {
    position: absolute;
    right: 35px;
    top: 124px;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    background: #4eccb9;
    color: white;
    border: 1px solid #4eccb9;
box-shadow: 2px 2px 1px 5px rgba(78, 204, 185, 0.44);
}

section#hero select {
    background: white;
    border: 1px solid transparent;
    /* border-radius: 30px; */
    width: 150px;
    border-bottom: 1px solid #fafafa;
    box-shadow: 3px 3px 0px 0px #fafafa;
    height: 28px;
    position: absolute;
    top: 135px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    text-align: center;
}

section#hero .search-loop i{
	color: #666;
	font-size: 30px;
	-webkit-text-stroke: 2px white;
	position: absolute;
	top: 130px;
	left: 40px;
}

section#hero select#categories {
    right: 185px;

}

section#hero select#authors {
    right: 355px;

}

section#hero select#skills {
    right: 520px;

}


section#hero .overlay{
    background: #4eccb9;
    width: 100%;
    height: 100%;
    padding: 120px 0;
}

section#featured-categories{
	padding: 70px 0;
}
section#featured-categories .box-title{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
} 

section#featured-categories p{
	color: #666;
	font-size: 14px;
	width: 50%;
	margin: 0 auto;
}
section#featured-categories h3{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #555;
}
section#featured-categories .box{
	width: 100%;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: all 1s;
}
section#featured-categories .box:hover{
	transition: all 1s;

}
section#featured-categories .box:hover .overlay{
	background-color: rgba(0,0,0,0.5);
	transition: all 1s;
}


section#featured-categories .box .overlay{
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0,0,0,0.2);
}

section#featured-categories .box .overlay h3{
	line-height: 150px;
	color: white;
}
