<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="logo">
                    <h2>Kutiva</h2>
                </div>                        
            </div>
            <div class="col-md-6">
                    {% include "kutiva/layout/menu.html" %}
            </div>

            <div class="col-md-3">
                <ul id="account-bar" class="nav">
                    <li><i class="fa fa-user-o"></i> <a href="#"> Sign In</a> or <a href="#">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>